<html>
<head>
  <title>Tamagotchi</title>
</head>
<body>
  <h1>Take care of your little Tamagotchi!</h1>

    <form action='/todo' method='post'>
        <label for='todo'>Feed, play, sleep, or nothing?</label>
        <input id='todo' name='todo' type='text'>

        <button type='submit'>Submit</button>
    </form>

</html>
